In [2]:
#TP 1 - parte 2

In [1]:
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
import plotly.express as px
from sklearn.datasets import load_iris
import xgboost as xgb
from yellowbrick.classifier import ConfusionMatrix

print("✅ Todo instalado correctamente.")

✅ Todo instalado correctamente.

In [11]:
data = pd.read_csv('../data/loan_data.csv')
data

,person_age,person_gender,person_education,person_income,person_emp_exp,person_home_ownership,loan_amnt,loan_intent,loan_int_rate,loan_percent_income,cb_person_cred_hist_length,credit_score,previous_loan_defaults_on_file,loan_status
0,22.0,female,Master,71948.0,0,RENT,35000.0,PERSONAL,16.02,0.49,3.0,561,No,1
1,21.0,female,High School,12282.0,0,OWN,1000.0,EDUCATION,11.14,0.08,2.0,504,Yes,0
2,25.0,female,High School,12438.0,3,MORTGAGE,5500.0,MEDICAL,12.87,0.44,3.0,635,No,1
3,23.0,female,Bachelor,79753.0,0,RENT,35000.0,MEDICAL,15.23,0.44,2.0,675,No,1
4,24.0,male,Master,66135.0,1,RENT,35000.0,MEDICAL,14.27,0.53,4.0,586,No,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
44995,27.0,male,Associate,47971.0,6,RENT,15000.0,MEDICAL,15.66,0.31,3.0,645,No,1
44996,37.0,female,Associate,65800.0,17,RENT,9000.0,HOMEIMPROVEMENT,14.07,0.14,11.0,621,No,1
44997,33.0,male,Associate,56942.0,7,RENT,2771.0,DEBTCONSOLIDATION,10.02,0.05,10.0,668,No,1
44998,29.0,male,Bachelor,33164.0,4,RENT,12000.0,EDUCATION,13.23,0.36,6.0,604,No,1
44999,24.0,male,High School,51609.0,1,RENT,6665.0,DEBTCONSOLIDATION,17.05,0.13,3.0,628,No,1

In [ ]:
#1. Datos con los cambios realizados en la primera parte
data = data[data['person_age'] <= 39]
data = data[data['person_income'] <= 168653]
data = data[data['person_emp_exp'] <= 18]
data = data[data['loan_amnt'] <= 23050]
data = data[data['loan_percent_income'] <= 0.37]
data = data[data['cb_person_cred_hist_length'] <= 15]
data = data[(data['credit_score'] >= 503) & (data['credit_score'] <= 773)]

In [ ]:
#2. para las variables continuas mostramos un listado de Q1 y Q3. Determinamos si hay escalas muy dispares entre las viarbles
continuas_cols = ["person_income", "loan_amnt", "loan_int_rate", "loan_percent_income"]
data_continuas = data[continuas_cols].quantile([0.25, 0.75]).transpose()
data_continuas.columns = ["Q1", "Q3"]
data_continuas

                           Q1        Q3
person_income        47204.00  95789.25
loan_amnt             5000.00  12237.25
loan_int_rate            8.59     12.99
loan_percent_income      0.07      0.19

Hay **escalas muy dispares** enre las variables.